<div class="mt-4">
    <ul class="list-group w-50 m-auto">
        <li class="list-group-item text-center bg-warning">
            <b>Avant d'accéder au streaming : Tuto anti pubs</b>
        </li>
        <li class="list-group-item">
            <span class="mr-3">1. </span><span>Téléchargez l'extension</span>
            <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=fr" target="_blank">
                <i>Tampermonkey</i>
            </a>
        </li>
        <li class="list-group-item">
            <span class="mr-3">2. </span><span>Allez dans le tableau de bord de l'extension, onglet <b>Utilitaires</b></span>
        </li>
        <li class="list-group-item">
            <span class="mr-3">3. </span><span>Dans <b>Install from URL</b>, copiez</span>
            <input value="http://streaming.kickaps.xyz/public/script/script.js" class="input-script-name" onClick="this.select();">
            <span> puis cliquez sur <b>Installer</b></span>
        </li>
        <li class="list-group-item">
            <span class="mr-3">4. </span><span>Cliquez une nouvelle fois sur <b>Installer</b> dans la nouvelle fenêtre</span>
        </li>
        <li class="list-group-item">
            <span class="mr-3">5. </span><span>Enfin, choisissez le stream de votre choix !</span>
        </li>
    </ul>
</div>