{% extends 'base.html.twig' %}

{% block title %}Hello ChannelController!{% endblock %}

{% block body %}
    <div>
        <div>
            <h1 class="main-title p-5 mb-3">KickAps Streaming</h1>
        </div>
        {% include 'channel/navbar.html.twig' %}
        <h3 class="text-center text-secondary m-4">{{ title }}</h3>
        {% block content %}
            {% include 'channel/helper.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
