<div class="text-center">
    <div class="dropdown d-inline-block">
        <button id="dropdown_eurosport" class="dropdown-warning" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eurosport
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown_eurosport">
            <a class="dropdown-item" href="eurosport-1.php">Eurosport 1</a>
            <a class="dropdown-item" href="eurosport-2.php">Eurosport 2</a>
        </div>
    </div>
    <div class="dropdown d-inline-block">
        <button id="dropdown_bein" class="dropdown-warning" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            beIN
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown_bein">
            <a class="dropdown-item" href="bein-1.php">beIN 1</a>
            <a class="dropdown-item" href="bein-2.php">beIN 2</a>
            <a class="dropdown-item" href="bein-3.php">beIN 3</a>
        </div>
    </div>
    <div class="dropdown d-inline-block">
        <button id="dropdown_canalplus" class="dropdown-warning" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Canal+
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown_canalplus">
            <a class="dropdown-item" href="canal-plus-sport.php">Canal+ Sport</a>
        </div>
    </div>
    <div class="d-inline-block">
        <a class="btn btn-warning" href="equipe-21.php">Equipe 21</a>
    </div>
</div>
